/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Montserrat", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;

// Homemade Color Pallette
$royal-blue: #76CAD4; //page title banners - h2 - buttons
$sky-blue: #58BB91; //navbar - footer
$alert-red: #FF563C; // alerts - notifications
$background-blue: #F0F9FF; // background
$title-grey: #9B9B9B; // h3
$icon-grey: #F8F9FA; // icon background
$icon-blue: #0554E7; // icon content
$table-grey: #F4F4F4; // table
