<h2><%= @greeting + ' '%> <%= @user.full_name %>,</h2>

<p>You have updated your e-mail address on <%= link_to "Stride", root_url %></p>
<p>If you did not request this change please click here or send
and e-mail to contact@strideworld.com
</p>
