<h2><%= @greeting %>,</h2>

<p>You have updated your e-mail address on <a href="www.strideworld.com">Stride</a></p>
<p>If you did not request this change please click here or send
and e-mail to contact@strideworld.com
</p>
