.devise-container h1 {
  margin-top: 0;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.devise-container label {
  font-size: 16px;
  font-weight: 400;
}

.form-inputs span p {
  font-size: 10px;
}

