/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.wrapper-blue {
  background-color: $background-blue;
  padding-bottom: 10px;
}

.banner-content strong {
  color: $sky-blue;
}

.banner {
  color: white;
  text-align: center;
  height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

#home-banner p {
  font-size: 18px;
  text-align: left;
  color: white;
  position: top;
}

.btn-transparent {
  border-radius: 20px;
  width: 220px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 18px;
}

.round-input {
  border-radius: 20px;
  text-align: center;
}

.container-values {
  padding-top: 20px;
  text-align: center;
  color: $title-grey;
  font-size: 12.5px;
  font-weight: 250;
}

.container-values i {
  font-size: 18px;
  font-weight: 400;
  color: $royal-blue;
}

.user-review-samples p {
  margin: 0;
  text-align: left;
  font-size: 14px;
}
