/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.banner-content strong {
  color: $sky-blue;
}

.banner {
  color: white;
  text-align: center;
  min-height: 55vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

#home-banner p {
  font-size: 21px;
}

.btn-transparent {
  border-radius: 20px;
  width: 220px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 18px;
}

.round-input {
  border-radius: 20px;
  text-align: center;
}

.container-values {
  padding: 20px;
  text-align: center;
  color: $title-grey;
  font-size: 17px;
  font-weight: 250;
}

.container-values i {
  font-size: 24px;
  font-weight: 400;
  color: $royal-blue;
  margin: 15px 0;
}

.user-review-samples {
  margin-top: 30px;
  margin-bottom: 30px;
  p {
  margin: 0;
  text-align: left;
  font-size: 14px;
  }
}

.width-alter {
  width: 80%;
  margin: 0 auto;
}

.intl-tel-input {
  color: black;
}

.iti-arrow {
  opacity: 0;
}

