.missed {
  color: red;
}

.delayed {
  color: orange;
}

.good {
  color: green;
}


.table-description {
  text-align: left;
  font-size: 20px;
}

.links {
  text-align: left;
  padding: 10px 0;
}

