.fa-check {
  font-size: 16px;
  color: green;
}
.container-buttons {
  display: flex;
}
.container-buttons .btn-royal-blue {
  justify-content: center;
}
.status-content {
  h3{
    font-size: 18px;
  }
  h4{
    font-size: 16px;
  }
}
