.fa-times {
  font-size: 16px;
  color: red;
}

.container-flex h3 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.container-buttons {
  display: flex;
}

.container-buttons .btn-royal-blue {
  justify-content: center;
}
