.facebook-fetching {
  display: flex;
}

.facebook-link {
  flex: 0 0 17%;
  color: white;
  font-size: 16px;
  padding: 10px 0;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    color: white;
  }
}

.bg-facebook {
  background: #3b5998;
}

.btn-facebook {
  background: #3b5998;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: white;
  }
  .fa {
    font-size: 19px;
    padding-right: 20px;
  }
  div {
    padding-left: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.22);
  }
}
.radio_buttons, .check_boxes{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
}
.radio, .checkbox {
  margin-top: 0px;
}
.photo-id {
  flex: 0 0 auto;
}
