<div id="age-pie" style="min-width: 310px; height: 400px; max-width: 100%; margin: 0 auto"></div>


<script>
  $(function () {
      Highcharts.chart('age-pie', {
          chart: {
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false,
              type: 'pie'
          },
          title: {
              text: '<b>Loan Applications by Age</b>'
          },
          subtitle: {
              text: 'to date'
          },
          tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                      enabled: true,
                      format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                      style: {
                          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                      },
                      connectorColor: 'silver'
                  }
              }
          },
          series: [{
              name: 'Percentage Share',
              data: [
                  { name: 'Age 18 - 22', y: 8.3, color: '#a8ccc9' },
                  {
                      name: '23 - 30 years',
                      y: 25.4,
                      sliced: true,
                      selected: true,
                      color: '#a0d2db'
                  },
                  { name: '31 - 40 years', y: 32.4, color: '#508991' },
                  { name: '41 - 50 years', y: 28.6, color: '#172a3a' },
                  { name: '51 - 60 years', y: 5.6, color: '#004346' },
                  { name: '61+ years', y: 2.6, color: '#09bc8a' }
              ]
          }]
      });
  });
</script>
