<div id="telco-pie" style="min-width: 310px; height: 400px; max-width: 100%; margin: 0 auto"></div>

<script>
  $(function () {

      // Radialize the colors
      Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
          return {
              radialGradient: {
                  cx: 0.5,
                  cy: 0.3,
                  r: 0.7
              },
              stops: [
                  [0, color],
                  [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
              ]
          };
      });

      // Build the chart
      Highcharts.chart('telco-pie', {
          chart: {
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false,
              type: 'pie'
          },
          title: {
              text: 'Telco Data Share'
          },
          subtitle: {
              text: 'as of 01/12/2016'
          },
          tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                      enabled: true,
                      format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                      style: {
                          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                      },
                      connectorColor: 'silver'
                  }
              }
          },
          series: [{
              name: 'Market Share',
              data: [
                  {
                      name: 'Cell C',
                      y: 23.00,
                      sliced: true,
                      selected: true
                  },
                  { name: 'Vodacom', y: 37.70 },
                  { name: 'MTN', y: 35.90 },
                  { name: 'Telkom Mobile', y: 3.40 }
              ]
          }]
      });
  });
</script>
