<h2>Application Accepted</h2>

<div class="container">
  <div class="status-button">
    <i>GREEN TICK ICON</i>
  </div>

  <div>
    <p>You qualify for up to</p>
  </div>

  <div class="loan-amount">
    <p><strong><%=  %></strong></p>
  </div>

  <div>
    <p>with repayments scheduled on</p>
  </div>

  <div class="loan-amount">
    <p><strong><%=  %></strong></p>
  </div>

  <div>
    <p>If you proceed, your eWallet account will be credited immediately by your choosen amount above.</p>
  </div>

  <div>
    <p>If you do not make loan repayments by the specified due date additional fees may apply.</p>
  </div>

</div>
