<h2>Application Accepted</h2>

<div class="container">
  <div class="status-button">
    <i>GREEN TICK ICON</i>
  </div>

  <div>
    <p>You qualify for up to</p>
  </div>

  <div class="loan-amount">
    <p><strong><%= @user.loans.last.proposed_amount_cents %></strong></p>
  </div>

  <div>
    <p>with repayments scheduled on</p>
  </div>

  <div class="repayments-flexbox">
    <div class="flexrow repayments-header-row">
      <div class="repayments-header">
        <p>Due date</p>
      </div>
      <div class="repayments-header">
        <p>Amount due</p>
      </div>
      <div class="repayments-header">
        <p>Paid</p>
      </div>
    </div>

    <% current_user.loans.last.payments.each do |payment| %>
      <div class="flexrow month">
        <div class="month-cell">
          <%= payment.due_date %>
        </div>
        <div class="month-cell">
          <%= payment.amount_cents %>
        </div>
        <div class="month-cell">
          <%= payment.paid ? 'tick' : 'cross' %>
        </div>
      </div>
    <% end %>
  </div>

  <div>
    <p>If you proceed, your eWallet account will be credited immediately by your choosen amount above.</p>
  </div>

  <div>
    <p>If you do not make loan repayments by the specified due date additional fees may apply.</p>
  </div>

</div>
