<h2>Application Accepted</h2>

<div class="container">
  <div class="status-button">
    <i>GREEN TICK ICON</i>
  </div>

  <div>
    <p>You qualify for up to</p>
  </div>

  <div class="loan-amount">
    <p><strong><%= current_user.loans.last.proposed_amount_cents %></strong></p>
  </div>

  <div>
    <p>with repayments scheduled on</p>
  </div>

  <div class="confirm-repayments standard-flexbox">
    <div class="flexrow repayments-header-row text-center">
      <div class="flexcell confirm-cell blue-header">
        <p>Due date</p>
      </div>
      <div class="flexcell confirm-cell blue-header">
        <p>Amount due</p>
      </div>
    </div>

    <% current_user.loans.last.duration_months.times do %>
      <div class="flexrow month text-center">
        <div class="flexcell confirm-cell">
          <%= DateTime.now %>
        </div>
        <div class="flexcell confirm-cell">
          <%= current_user.loans.last.requested_amount_cents * current_user.loans.last.interest_rate / 100 / current_user.loans.last.duration_months %>
        </div>
      </div>
    <% end %>
  </div>

  <div>
    <p>If you proceed, your eWallet account will be credited immediately by your choosen amount above.</p>
  </div>

  <div>
    <p>If you do not make loan repayments by the specified due date additional fees may apply.</p>
  </div>

  <%= link_to "Accept loan", { action: user_loan_accept_path(@user, @loan), data: { confirm: 'Are you sure?') %>
</div>
