<div class="container text-center">
  <div class="round-icon-status">
    <i><span class="fa fa-times"></span></i>
  </div>
  <div class="status-content">
    <h3><strong>Application Declined</strong></h3>
    <p>We thank you for your confidence.</p>
    <div class="row">
      <div class="col-xs-12 col-sm-offset-3 col-sm-6">
      <p>
       Unfortunately, you are not currently eligible for a loan. However, we propose that <strong>you keep your app open and try again in a month</strong> when we have more data about you.</p>
       </div>
     </div>
  </div>
</div>

