<div class="container text-center">
  <div class="round-icon-status">
    <i><span class="fa fa-times"></span></i>
  </div>
  <div class="status-content">
    <h3><strong>Application Declined</strong></h3>
    <p>We thank you for your confidence.</p>
    <div class="row">
      <div class="col-xs-12 col-sm-offset-3 col-sm-6">
      <p>

       Unfortunately, you are not currently eligible for a loan. However, you can <span class="bold">improve your score</span> by completing actions which you can read about below and then apply for a new loan.</p>
       </div>
     </div>
  </div>
</div>

