<h2>Application Declined</h2>

<div class="container">

  <div class="status-button">
    <i>RED 'X' ICON</i>
  </div>

  <div>
    <p>Unfortunately, you are not currently eligible for a loan. However, we propose that you try back in a month when we have more data for you.</p>
  </div>

</div>
