<div class="container container-flex">
  <div class="container">
    <div class="round-icon-status">
      <i><span class="fa fa-times"></span></i>
    </div>
  </div>
  <h3>Application Declined</h3>


  <div class="container">
    <p>We thank you for your confidence.</p>
    <br>
    <p>
     Unfortunately, you are not currently eligible for a loan. However, we propose that <strong>you keep your app open and try back in a month</strong> when we have more data about you.</p>
  </div>
</div>

