<div class="container text-center">
  <div class="round-icon-status">
    <i class="fa fa-hourglass" aria-hidden="true"></i>
  </div>
  <div class="status-content">
    <h3><strong>Application Pending</strong></h3>

    <h4>You have applied for:</h4>

    <p><strong><%= humanized_money_with_symbol(current_user.loans.last.requested_amount) %></strong></p>
    <p class="status-notice">We are currently reviewing your details and we will be getting back to you soon.</p>

  </div>
</div>
