<h2>Application Pending</h2>

<div class="container">
  <div class="status-button">
    <i>HOURGLASS ICON</i>
  </div>

  <div>
    <p>You have applied for:</p>
  </div>

  <div>
    <p><%= @user.loans.requested_amount_cents %></p>
  </div>

  <div>
    <p>We are currently reviewing your details and we will be getting back to you soon.</p>
  </div>

</div>
