<div class="container container-flex">
  <div class="round-icon-status">
    <i class="fa fa-hourglass" aria-hidden="true"></i>
  </div>

  <h3>Application Pending</h3>

  <div>
    <h4>You have applied for:</h4>
  </div>

  <div class="text-center">
    <p><strong><%= humanized_money_with_symbol(current_user.loans.last.requested_amount) %></strong></p>
  </div>

  <div>
    <p class="status-notice">We are currently reviewing your details and we will be getting back to you soon.</p>
  </div>

</div>
