<h2>Loan Repaid</h2>

<div class="container">
  <div class="status-button improve-score-icons">
    <%= image_tag("pay_icon.png", class: "improve-score-icon") %>
  </div>

  <p>Your loan of</p>

  <div class="loan-amount">
    <p class="bold"><%= humanized_money_with_symbol(@latest_loan.agreed_amount) %></p>
    <p>was repaid on <%= current_user.loans.last.payments.last.paid_date.strftime("%e %b %Y") %></p>
  </div>

</div>

<button class="btn btn-royal-blue btn-default">Apply for a new loan</button>
