<div class="wrapper-grey">
  <div class="header-banner">
    <div class="header-title">
      <h1>Talk about Stride</h1>
      <h2>Users who share their experience</h2>
    </div>
    <div class="round-icon">
      <i><span class="fa fa-bullhorn"></span></i>
    </div>
  </div>
  <div class="facebook-container" style="padding: 10px;margin-top: 20px;">
    <%= link_to "https://www.facebook.com/sharer/sharer.php?u=www.strideworld.com/signup", target: 'blank', class: "btn btn-block btn-social btn-facebook facebook-button" do %>
      <i class="fa fa-facebook"></i><div>Share Stride with your Friends</div>
    <% end %>
    </div>
    <div class="white-box">
    <div class="user-review-samples text-center">
        <div class="row">
          <div class="col-xs-12 col-sm-offset-2 col-sm-4">
            <div class="card home-card share-card" style="background-image: linear-gradient(rgba(150,120,100,0.7), rgba(108,105,113,0.5)), url(<%= image_path('review1.jpg') %>);">
              <div class="card-description">
                <p>"Stride made my dream reality. I have been delivering newspapers for 20 years by bike. Thanks to Stride I have finally been eligible to a loan. That has permitted me to rent a car and to increase my delivering capacity and so my revenues. Thanks Stride! "</p>
              </div>
              <div class="card-category">Kwanele</div>
              <a class="card-link" href="#" ></a>
            </div>
          </div>

          <div class="col-xs-12  col-sm-4">
            <div class="card home-card share-card" style="background-image: linear-gradient(rgba(100,140,140,0.5), rgba(100,100,130,0.5)), url(<%= image_path('review2.jpg') %>);">
              <div class="card-description">
                <p>"I was used to work in a restaurant in the town center while I was used to travel a lot with extensive hours. With Stride I have been able to open my own catering shop just next to the newly installed industrial plant. It is now my third loan I am repaying as my business is working well. They reward my responsible behaviour."</p>
              </div>
              <div class="card-category">Nandi</div>
              <a class="card-link" href="#" ></a>
            </div>
          </div>
        </div>
      </div>
    <div class="back-button text-center">
      <%= link_to "Go back", user_path(current_user), class: 'btn-grey' %>
    </div>
  </div>
  </div>
</div>
