<div class="wrapper-blue">
  <div class="banner" id="home-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('home_background.jpg') %>);">

    <div class="banner-content">
      <p><strong>Apply now.</strong> The new way<br>to access a loan.</p>
      <button class="btn btn-transparent">Apply for a loan</button>
    </div>
  </div>

  <div class="header-banner-white">
    <%= link_to('status') do %>
      <div id="tab-monitor">
        <h1>Monitor your situation</h1>
        <p>Track your progress over time</p>
        <p style="color: red; text-align: center; font-size: 16px">View your status</p>
      </div>
    <% end %>
  </div>

  <div class="header-banner-white">
    <%= link_to('profile') do %>
      <div id="tab-details">
        <h1>Your Profile</h1>
        <p>Your details are important to us</p>
      </div>
    <% end %>
  </div>

  <div class="header-banner-white">
    <%= link_to('share') do %>
      <div id="tab-share">
        <h1>Share Manda with people you know</h1>
        <p>Get benefits from sharing with your friends</p>
      </div>
    <% end %>
  </div>
</div>
