
<h1><%= @user.first_name %>'s Dashboard</h1>

<div id="tab-apply">
  <div class="">
    <h2><strong>Apply now.</strong> The new way to access a loan.</h2>
  </div>
  <div class="banner">
    <button class="btn btn-secondary">Apply for a loan</button>
  </div>
</div>

<div id="tab-monitor">
  <h2>Monitor your situation</h2>
  <p>Track your progress over time</p>
  <p>VIEW YOUR STATUS</p>
</div>

<div id="tab-details">
  <h2>Edit your personal details</h2>
  <p>Your details are important to us</p>
</div>

<div id="tab-share">
  <h2>Share Manda with people you know</h2>
  <p>Get benefits from sharing with your friends</p>
</div>
