<div class="wrapper-grey">

  <div class="header-banner">
    <div class="header-title">
      <h1>About Manda</h1>
      <h2>Some information about what we do</h2>
    </div>
    <div class="round-icon">
      <i>'i' ICON</i>
    </div>
  </div>
  <div class="container white-box container-centered">
    <div class="page-content">

    </div>
    <% if user_signed_in? %>
      <%= link_to "Go back", user_path(current_user), class: 'btn-royal-blue' %>
    <% else %>
      <%= link_to "Go back", root_path, class: 'btn-royal-blue' %>
    <% end %>
  </div>
</div>
