
<div class="banner" id="home-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background.jpg');">
  <div class="banner-content">
    <h1>Manda</h1>
    <p>Fast, easy loan applications straight from your mobile.</p>

    <%= simple_form_for(:user, url: user_registration_path) do |f| %>
      <%= f.input :mobile_number, label: 'Mobile phone number', error: 'Please enter a mobile phone number' %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>

<div class="container">

  <div class="user-review-samples text-center">
    <h2>User Reviews</h2>

    <div class="row">
      <div class="col-xs-12">
        <div class="card home-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Some stuff</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <img class="card-user avatar" src="user.jpg">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="card home-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Some stuff</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <img class="card-user avatar" src="user.jpg">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
  </div>

  <div class="extra-details text-center">
    <h2>Details</h2>
  </div>

  etc...

</div>
