<div class="banner">
  <h1>Manda</h1>
  <h3>The new way to get a loan</h3>
</div>

<div class="container">
  <div id="landing-info">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <i class="fa fa-money"></i>
        <p> Access to a lending platform</p>
      </div>
      <div class="col-xs-6 col-md-3">
        <i class="fa fa-fighter-jet"></i>
        <p>Fast application and review process</p>
      </div>
      <div class="col-xs-6 col-md-3">
        <i class="fa fa-university"></i>
        <p>No branch as everything happens on your mobile</p>
      </div>
      <div class="col-xs-6 col-md-3">
        <i class="fa fa-handshake-o"></i>
        <p>Responsible financial behaviours are rewarded</p>
      </div>
    </div>
  </div>

  <div id="landing-process">
    <p><strong>1.</strong>Enter your mobile phone number</p>
    <p><strong>2.</strong>Fill in some basic details</p>
    <p><strong>3.</strong>Enter the amount that you want to borrow</p>
    <p><strong>4.</strong>Receive your loan straight to your e-wallet</p>
  </div>

  <div id="landing-reviews">

  </div>

  <div id="partners">

  </div>
</div>
