// Your footer style
.footer {
  box-shadow: 1px 0 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $sky-blue;
  transition: all 0.3s ease;
  display: flex;
  height: 60px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-around;
}

.about .contact .legal {
  flex: 0 0 20%;
}

.footer h2 {
  color: white;
  font-size: 16px;
  font-size: bold;
}

