/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.flexboxify {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flexboxify-around {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// Hidden divs
.hidden {
  display: none;
}

// Text
.text-red {
  color: red;
}
.bold {
  font-weight: bolder;
}
