.btn-royal-blue {
  text-decoration: none;
  color: white;
  background-color: $royal-blue;
  border-radius: 20px;
  padding: 5px 20px;
  margin: 10px auto;
  transition: background-color 0.3s;
}

.btn-royal-blue:hover {
  text-decoration: none;
  color: white;
  background-color: $sky-blue;
  border-radius: 20px;
  padding: 5px 20px;
  margin: 10px auto;
}

.btn-grey {
  text-decoration: none;
  color: $title-grey;
  background-color: $table-grey;
  border-radius: 20px;
  padding: 5px 20px;
  margin: 10px auto;
}

.btn-grey:hover{
  text-decoration: none;
  color: white;
  background-color: grey;
  border-radius: 20px;
  padding: 5px 20px;
  margin: 10px auto;
}
.btn-red {
  text-decoration: none;
  color: white;
  background-color: #D23333;
  border-radius: 20px;
  padding: 5px 20px;
  margin: 10px auto;
}

.btn-red:hover{
  text-decoration: none;
  color: white;
  background-color: #FE4040;
  border-radius: 20px;
  padding: 5px 20px;
  margin: 10px auto;
  opacity: 0.7;
}
.btn-centered {
  margin: auto;
  justify-content: center;
}
.datetimepicker button {
  border-radius: 0 50px 50px 0 !important;
}

