.loan-flexbox {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  background-color: $icon-grey;
  width: 100%;
  margin: 0 auto;
}

.flexrow.loans {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  padding: 0 15px;
}


.loans-cell.flexcell {
  flex: 1 0 0;
  padding: 0 5px;
}
.loans-header.flexcell {
  flex: 1 0 0;
  margin: 3px 0;
  padding: 0 5px;
}

.loans-header-row {
  background-color:#3A97EC;
  color: white;
  padding: 4px 15px;
}

.loan-link:hover {
  text-decoration: none;
  background-color: $sky-blue;
  color: black;
}

.loan-link {
  color:black;
  padding: 5px 0;
}
#credit-score, #category{
  max-width: 120px;
}
#purpose, #decline-reason {
  flex-grow: 2;
}
