.loan-flexbox {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  background-color: $icon-grey;
  width: 100%;
  margin: 0 auto;
}

.flexrow.loans {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  padding: 0 5px;
  align-items: center;
  height: 36px;
}

.flexrow.loans:nth-child(even) {
  background-color: white;
 }

.loans-cell.flexcell {
  flex: 1 0 0;
  padding: 0 5px;
  background-color: white;
}
.loans-header.flexcell {
  flex: 1 0 0;
  margin: 3px 0;
  padding: 0 5px;
}

.loans-header-row {
  background-color: $royal-blue;
  color: white;
  padding: 4px 5px;
}

.loan-link:hover {
  text-decoration: none;
  border-left: 3px solid $royal-blue;
  color: black;
}

.loan-link {
  background: white;
  color:black;
  padding: 5px 0;
  border-left: 3px solid transparent;
  margin: 2px 0;
  font-weight: 100;
  color: #9e9e9e;
  font-size: 14px;
}
.loans-amount {
  font-weight: bold;
  font-size: 15px !important;
}
#credit-score, #category{
  max-width: 120px;

}
#purpose, #decline-reason {
  flex-grow: 2;
}

