.loan-header {
  h2 {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(90, 90, 90);
    color: white;
    border-radius: 50%;
    font-size: 18px;
    margin: 10px auto;
  }
  p {
    font-size: 20px;
    color: rgb(90, 90, 90);
    font-weight: lighter;
  }
}

.loan-customer {
  display: flex;
  justify-content: space-between;
  h3 {
    font-size: 19px;
    font-weight: bold;
    margin-top: 0;
  }
  p {
    margin-bottom: 0;
    font-size: 14px;
    color: grey;
  }
  .tel {
    font-weight: bold;
    font-size: 16px;
    align-self: flex-start;
  }
}

.loan-details {
  background: transparent;
  padding: 7px 0;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  margin-top: 43px;
  padding-top: 35px;
  h3 {
    font-size: 19px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
  }
  margin-top: 30px;
  .category, .purpose,.date {
    font-weight: lighter;
    color: grey;
    font-size: 14px;
  }
  .description {
    margin: 10px 0;
    font-size: 18px;
    margin-bottom: 25px;
  }
}

.loan-form {
  h3 {
    font-size: 19px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;
    margin-top: 30px;
  }
}
.modal-loan {
  padding: 30px 40px !important;
}

.decline-details {
  background: transparent;
  padding: 10px 0;
  border-bottom: 1px solid lightgrey;
  padding-top: 25px;
  h3 {
    font-size: 19px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
  }
  .decline-reason {
    margin: 10px 0;
    font-size: 18px;
    margin-bottom: 25px;
  }
}

.payment-details {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
  .item {
    flex: 48% 0 0;
  }
}

.repayment p {
  margin: 0 auto;
}
