.standard-flexbox {
  background-color: $icon-grey;
  margin: 0 auto;
  margin-bottom: 10px;
}
.flexrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexrow:nth-child(even) {
  background-color: $table-grey;
 }
.flexcell {
  padding: 0 20px;
}
.confirm-cell {
  width: 50%;
}
.third-cell {
  width: 33.4%;
}
.blue-header {
  background-color: $royal-blue;
  color: white;
  p {
    margin: 5px 0;
  }
}
