.round-icon-status {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $icon-grey;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3)
}
.round-icon-status {
  margin: 10px auto;
  margin-bottom: 0px;
}
