.tabs {
  display: flex;
  padding: 10px 10px 0 10px
}
.tabs a {
  color: white;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: #3A97EC;
  flex: 0 0 20%;
  text-align: center;
  padding: 20px 0;
}
.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  background: #8CC6FC;
  color: white;
}
