.tabs {
  display: flex;
}
.tabs a {
  color: $royal-blue;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: white;
  flex: 0 0 20%;
  text-align: center;
  padding: 20px 0;
  border: solid $sky-blue 1px;
}
.tab.active {
  background: $royal-blue;
  color: white;
  text-decoration: none;
}
#tab-content {
  margin: 30px 0;
}
