.grey-tooltip + .tooltip > .tooltip-inner {
  background-color: rgba(150, 150, 150, 1);
}
.grey-tooltip + .tooltip.top > .tooltip-arrow {
  border-top-color: rgba(150, 150, 150, 1);
}
.grey-tooltip + .tooltip.left > .tooltip-arrow {
  border-left-color: rgba(150, 150, 150, 1);
}
.grey-tooltip + .tooltip.top, .grey-tooltip + .tooltip.left {
  opacity: 1;
}
