<div class="portfolio-data">
  <div class="loans-data">
    <div id="net-balance">

    </div>
    <div id="pending-feedback">

    </div>
    <div id="pending-repayment">

    </div>
  </div>

  <div class="scoring-data">
    <div id="average-score-total">

    </div>
    <div id="average-score-pending">

    </div>
  </div>

  <div class="client-data">
    <div id="number-current-customers">

    </div>
    <div id="retention-rate">

    </div>
    <div id="total-users-historical">

    </div>
  </div>
</div>

<div class="current-portfolio">
  <div class="data-graph" id="loan-repayments">

  </div>

  <div class="data-graph" id="scoring-distribution">

  </div>

  <div class="data-graph" id="approval-rate">

  </div>
</div>

<div class="activity-stats">
  <div class="data-graph">

  </div>

  <div class="data-graph" id="smartphone-cellphone">

  </div>

  <div class="data-graph" id="user-geolocation">

  </div>
</div>
