<% score = (score.to_f * 100).to_i %>
<% if score > 0 %>
  <% color = "red"%>
<% end %>
<% if score > 89 %>
  <% color = "orange"%>
<% end %>
<% if score > 94 %>
  <% color = "blue"%>
<% end %>
<% if score > 97 %>
  <% color = "green"%>
<% end %>


<div class="progress-pie-big <%= color %>" data-percent="<%= score %>">
  <div class="ppc-progress-big">
    <div class="ppc-progress-fill-big"></div>
  </div>
  <div class="ppc-percents-big">
    <div class="pcc-percents-wrapper-big">
      <span></span>
    </div>
  </div>
</div>
