<div class="container">
  <div class="tabs">
  <a class="tab active" href="#">
    <h3>New Applications</3>
      <% render 'applications'%>
  </a>
  <a class="tab" href="#">
    <h3>Live Loans</h3>
      <% render 'loans'%>
  </a>
  <a class="tab" href="#">
    <h3>Declined Applications</h3>
      <% render 'applications'%>
  </a>
  <a class="tab" href="#">
    <h3>Closed Loans</h3>
      <% render 'loans'%>
  </a>
  <a class="tab" href="#">
    <h3>Portfolio</h3>
      <% render 'portfolio'%>
  </a>

</div>


</div>
