<div class="flexcell third-cell">
  <%= loan.final_date %>
</div>
<div class="flexcell third-cell">
  <%= loan.agreed_amount_cents %>
</div>
<div class="flexcell third-cell">
  <%= "Repaid" %>
</div>
